body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://wallpapers.com/images/featured/black-gold-background-optua4rlhb9gnk6t.jpg');
    background-size: cover; 
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 13%;
    height: 100vh;
    background-color: #d99920;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.settings-sidebar {
    width: 13%;
    height: 100vh;
    background-color: #d99920;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar h1 {
    color: #000000;
    font-size: 24px;
}

.settings-sidebar h1 {
    color: rgb(251, 251, 251);
    font-size: 24px;
}

.sidebar a {
    color: #000000;
    text-decoration: none;
    display: block;
    margin: 15px 0;
}

.settings-sidebar a {
    color: #000000;
    text-decoration: none;
    display: block;
    margin: 15px 0;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
}

.sidebar a:hover {
    color: #fff;
}

.settings-sidebar a:hover {
    color: #fff;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 15px 0;
}

.main {
    width: 80%; 
    margin-left: 3.5%; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: 600; 
    margin: 0.5em 0;
}

.app-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400; 
    margin: 0.2em 0 1em 0;
}

.content {
    width: 100%;
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d99920;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
}

.buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.buttons button, form {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    font-size: 16px;
    height: 40px;
}

form {
    background-color: #d99920
}

.buttons button:hover {
    background-color: #555;
}

#responseBox {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}